body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.top {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #f9faf8;

}

.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

ul {
    flex: 1;
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.Dif {
    display: flex;
    flex: 1;
    align-items: center;
    padding-left: 200px;
    padding-bottom: 100px;
    gap: 10px;
}

.Dif img {
    width: 500px;
    height: 250px;
    padding: 50px;
}

.Description {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Description h1 {
    font-weight: bolder;
    font-size: 48px;
    margin-bottom: 0%;
    margin-top: 0;
}

.Description p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 0%;
}

.Description button {
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    background-color: #3882f6;
    border-radius: 12px;
    padding: 8px 20px;
    width: 120px;
    border: none;
    margin-top: 10px;
    align-self: start;
}

.content {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container h1 {
    color: #1f2937;
    font-size: 37px;
    font-weight: bolder;
    text-align: center;
    margin-left: 50px;
}

.holder {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.box img {
    width: 200px;
    height: 200px;
    border-radius: 12px;
    border: 2px;
    border-style: solid;
    border-color: #3882f6;
}

.box p {
    margin-top: 5px;
    font-size: 18px;
    color: rgb(75, 73, 73);
}

.qoute {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 70px 180px;
}

.qoute p {
    color: #1F2937;
    font-size: 37px;
    font-weight: lighter;
    font-style: italic;
    padding-left: 70px;
}

.Author {
    text-align: end;
    font-size: 20px;
    font-weight: bold;
}

.sign-up {
    padding: 100px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    flex: 1;
    
}

.sign-up-container {
    background-color: #3882f6;
    display: flex;
    border-radius: 12px;
    padding: 40px 20px;
    padding-left: 110px;
    padding-right: 20;
    align-content: center;
    justify-content: space-evenly;
    flex: 1;
}

.sign-up-content {
    display: flex;
    flex-direction: column;
    margin-left: -20px;
    color: #E5E7EB;
}

.sign-up-content h2 {
    margin-bottom: 2px;
}

.sign-up-content p {
    margin-top: 0;
}

.sign-up button {
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    background-color: #3882f6;
    border-radius: 12px;
    padding: 8px 20px;
    width: 150px;
    height: 40px;
    border: 1px;
    border: solid;
    border-style: solid;
    border-color: #E5E7EB;
    align-self: center;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 30px;
}

@media (max-width: 750px) {
    .Dif {
        flex-direction: column;
        padding-left: 10px;
        
    }
    .header {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .holder {
        flex-direction: column;
    }
    .qoute {
        padding: 10px;
    }
    .sign-up-container {
        flex-direction: column;
        padding: 50px;
    }
    .sign-up button {
        align-self: flex-start;
        margin-left: -20px;
    }
    .Dif img {
    width: 500px;
    height: auto;
    }
    .Dif {
        padding: 20px;
    }
}

button:hover {
    color: #3882f6;
    background-color: #E5E7EB;
}
a:hover {
    color: #3882f6;
    background-color: #f9faf8;
}
